html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #012C40;
  /*background-color: #daebf2;*/
  background-color: #e6eff2;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

*, *:before, *:after {
box-sizing: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #1ca5b8;
}

.brand-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.company-block {
  text-align: center;
}

#company-name {
  padding-bottom: 0;
  margin-bottom: 0;
}

header h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 5rem;
}

header h2 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
}

header img {
  height: 7.5rem;
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 1rem;
}

nav a {
  display: inline-block;
  padding: 2rem 3rem;
}

a {
  transition: all 300ms;
}

a:hover {
  color: #ff404c;
  font-weight: 600;
}

#current {
  font-size: 1.1rem;
  font-weight: bold;
}

section {
  display: flex;
  justify-content: center;
}

.container {
  width: 960px;
  display: flex;
  padding-top: 1rem;
}

.column-container {
  flex-direction: column;
  align-items: center;
}

#home {
  height: 33rem;
}

#service-list {
  flex-direction: column;
}

.mission {
  width: 50%;
  padding-right: 2rem;
  margin-top: -1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 0.5rem 0;
}

.featured-img {
  width: 50%;
  margin-top: -1rem;
  background-image: url("../images/shower-for-two-glass-panels.jpg");
  background-size: cover
}

ul {
  line-height: 1.4;
  list-style: disc inside;
  padding-bottom: 1rem;
}

footer {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: #012C40;
  color: #e6eff2;
}

footer a {
  color: #e6eff2;
}

footer .container {
  height: 5rem;
  justify-content: space-between;
}

footer span {
  display: block;
  line-height: 1.3;
}

.footer-info {
  text-align: right;
}
